@font-face {
  font-family: 'DINCond';
  src: url('../fonts/DIN/DINCond-Regular.otf');
}

@font-face {
  font-family: 'DINCond-Bold';
  src: url('../fonts/DIN/DINCond-Bold.otf');
}
// @font-face {
//   font-family: 'DINCond-Medium';
//   src: url('../fonts/DIN/DINCond-Medium/DINCond-Medium');
// }

@font-face {
  font-family: 'MochaMattari';
  src: url('../fonts/Mocha\ Mattari/MochaMattari.otf');
}
